flows.json
[{"id":"e55eac88.70105","type":"tab","label":"Setup 3box ","disabled":true,"info":""},{"id":"16ac6319.1ce66d","type":"tab","label":"Join Thread","disabled":true,"info":""},{"id":"efd232d7.75936","type":"tab","label":"Global config","disabled":false,"info":""},{"id":"6612e154.5809f","type":"tab","label":"Buy Events listener","disabled":true,"info":""},{"id":"62c79142.684c1","type":"tab","label":"Get /thread","disabled":false,"info":""},{"id":"f8d1a747.902e28","type":"tab","label":"Post /thread","disabled":true,"info":""},{"id":"267b2cf7.e997b4","type":"change","z":"e55eac88.70105","name":"set global space","rules":[{"t":"set","p":"space","pt":"global","to":"space","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":520,"wires":[[]]},{"id":"147b4e06.43cf32","type":"function","z":"e55eac88.70105","name":"setup identity-wallet","func":"const IdentityWallet = global.get(\"IdentityWallet\");\nconst spaceName = msg.spaceName;\nasync function getConsent({ type, origin, spaces }) {\n    return true;\n}\nconst seed = msg.seed;\nconst idWallet = new IdentityWallet(getConsent, { seed });\nawait idWallet.authenticate([spaceName]);\n\nmsg.idWallet = idWallet;\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nconst box = msg.box;\nif (box) {\n    box.logout();\n}","x":290,"y":180,"wires":[["160112e0.026dbd","c6594b66.766b58"]]},{"id":"160112e0.026dbd","type":"debug","z":"e55eac88.70105","name":"idWallet DID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"idWallet.DID","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"2d706ff9.1fe78","type":"function","z":"16ac6319.1ce66d","name":"join public thread","func":"const space = global.get(\"space\");\nconst orbitdbAddress = msg.orbitdbAddress;\nawait space.syncDone;\n// const thread = await space.createConfidentialThread(\"test\");\nconst thread = await space.joinThreadByAddress(orbitdbAddress);\n\nmsg.thread = thread;\nmsg.orbitdbAddress = thread.address;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":160,"wires":[["11a6052e.ba86eb","c3b3925a.7a571","d1bfbaab.b9b948","a7c12ddf.659a3","41f374c2.630a2c"]]},{"id":"aa303f24.2e2c","type":"inject","z":"16ac6319.1ce66d","name":"join public thread","props":[{"p":"orbitdbAddress","v":"/orbitdb/zdpuAqvRXywypLW6Sm69JaBdQMAactQ6y1iCiizkLAz3fguNH/3box.thread.ipfsethmarketplace.thread1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","payloadType":"str","x":140,"y":100,"wires":[["2d706ff9.1fe78","11a6052e.ba86eb"]]},{"id":"11a6052e.ba86eb","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"orbitdbAddress","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":100,"wires":[]},{"id":"c18aa3e6.df48f","type":"inject","z":"e55eac88.70105","name":"start flow","props":[{"p":"spaceName","v":"ipfsethmarketplace","vt":"str"},{"p":"seed","v":"0x321abc123abc123abc123abc123abcde","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":180,"y":60,"wires":[["147b4e06.43cf32","18eb91c2.cf3f9e"]]},{"id":"c3b3925a.7a571","type":"function","z":"16ac6319.1ce66d","name":"list members","func":"const thread = msg.thread;\nconst members = await thread.listMembers()\n\nmsg.members = members;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":200,"wires":[["c5e3754.c27ba88"]]},{"id":"c5e3754.c27ba88","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"members","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":200,"wires":[]},{"id":"d1bfbaab.b9b948","type":"function","z":"16ac6319.1ce66d","name":"get posts","func":"const thread = msg.thread;\nconst posts = await thread.getPosts();\n\nmsg.posts = posts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":320,"wires":[["be5c09d7.6df308"]]},{"id":"be5c09d7.6df308","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"posts","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":320,"wires":[]},{"id":"c6594b66.766b58","type":"function","z":"e55eac88.70105","name":"setup 3box","func":"const idWallet = msg.idWallet;\nconst Box = global.get(\"Box\");\nconst threeIdProvider = idWallet.get3idProvider();\n\nconst box = await Box.openBox(null, threeIdProvider);\nawait box.syncDone;\nmsg.box = box;\n\n\nconst spaceName = \"ipfsethmarketplace\";\nconst space = await box.openSpace(spaceName);\nawait space.syncDone;\nmsg.space = space;\n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nconst box = msg.box;\nif (box) {\n    box.logout();\n}","x":430,"y":300,"wires":[["ddf8a8d1.858798","e035192a.128198"]]},{"id":"ddf8a8d1.858798","type":"function","z":"e55eac88.70105","name":"setup space","func":"const box = msg.box;\n\n\nconst spaceName = \"ipfsethmarketplace\";\nconst space = await box.openSpace(spaceName);\nawait space.syncDone;\nmsg.space = space;\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":420,"wires":[["267b2cf7.e997b4","f652144e.952bf8"]]},{"id":"e035192a.128198","type":"debug","z":"e55eac88.70105","name":"box DID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"box.DID","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":300,"wires":[]},{"id":"f652144e.952bf8","type":"debug","z":"e55eac88.70105","name":"space DID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"space.DID","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"18eb91c2.cf3f9e","type":"debug","z":"e55eac88.70105","name":"seed & spaceName","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":60,"wires":[]},{"id":"a7c12ddf.659a3","type":"function","z":"16ac6319.1ce66d","name":"list moderators","func":"const thread = msg.thread;\nconst moderators = await thread.listModerators()\n\nmsg.moderators = moderators;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":260,"wires":[["5e378913.abc718"]]},{"id":"5e378913.abc718","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moderators","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":260,"wires":[]},{"id":"41f374c2.630a2c","type":"function","z":"16ac6319.1ce66d","name":"add moderator","func":"let thread = msg.thread;\nawait thread.addModerator(\"0xE11BA2b4D45Eaed5996Cd0823791E0C93114882d\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":320,"wires":[["a7c12ddf.659a3"]]},{"id":"6bee4d45.67d8a4","type":"function","z":"16ac6319.1ce66d","name":"join private thread","func":"const space = global.get(\"space\");\nconst orbitdbAddress = msg.orbitdbAddress;\nawait space.syncDone;\n// const thread = await space.createConfidentialThread(\"test\");\nconst thread = await space.joinThreadByAddress(orbitdbAddress);\n\nmsg.thread = thread;\nmsg.orbitdbAddress = thread.address;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":540,"wires":[["33d634db.f698dc","c42abf84.dfa7e","36421d84.479802","52351341.695bdc","a3600dd.78425f"]]},{"id":"35ad613c.2d2a9e","type":"inject","z":"16ac6319.1ce66d","name":"join private thread","props":[{"p":"orbitdbAddress","v":"/orbitdb/zdpuAmNAxpWkFpDD7uknSZaWTSZUHDSY4tViCKz8ywLUGyQDA/3box.thread.ipfsethmarketplace.thread1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","x":150,"y":480,"wires":[["6bee4d45.67d8a4","33d634db.f698dc"]]},{"id":"33d634db.f698dc","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"orbitdbAddress","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":480,"wires":[]},{"id":"c42abf84.dfa7e","type":"function","z":"16ac6319.1ce66d","name":"list members","func":"const thread = msg.thread;\nconst members = await thread.listMembers()\n\nmsg.members = members;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":580,"wires":[["d3f14f35.77ffb"]]},{"id":"36421d84.479802","type":"function","z":"16ac6319.1ce66d","name":"get posts","func":"const thread = msg.thread;\nconst posts = await thread.getPosts();\n\nmsg.posts = posts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":700,"wires":[["39138cfe.373974"]]},{"id":"52351341.695bdc","type":"function","z":"16ac6319.1ce66d","name":"list moderators","func":"const thread = msg.thread;\nconst moderators = await thread.listModerators()\n\nmsg.moderators = moderators;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":640,"wires":[["9b3174e4.0c5328"]]},{"id":"a3600dd.78425f","type":"function","z":"16ac6319.1ce66d","name":"add moderator","func":"let thread = msg.thread;\nawait thread.addModerator(\"0xE11BA2b4D45Eaed5996Cd0823791E0C93114882d\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":700,"wires":[["52351341.695bdc"]]},{"id":"d9d18b4b.2f8058","type":"function","z":"16ac6319.1ce66d","name":"create public thread","func":"const space = global.get(\"space\");\nconst threadName = msg.threadName;\nawait space.syncDone;\n// const thread = await space.createConfidentialThread(\"test\");\nconst thread = await space.joinThread(threadName, {members: true});\n\nmsg.thread = thread;\nmsg.orbitdbAddress = thread.address;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":980,"wires":[["82203efe.735ac","262e8302.e501ac","80ef664a.422408","71f789ae.fa87b8","2dd68dba.6e5f02"]]},{"id":"250b7655.54bf4a","type":"inject","z":"16ac6319.1ce66d","name":"create public thread","props":[{"p":"threadName","v":"thread2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","x":150,"y":920,"wires":[["d9d18b4b.2f8058","80afb77f.cc3948"]]},{"id":"82203efe.735ac","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"orbitdbAddress","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":920,"wires":[]},{"id":"262e8302.e501ac","type":"function","z":"16ac6319.1ce66d","name":"list members","func":"const thread = msg.thread;\nconst members = await thread.listMembers()\n\nmsg.members = members;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1020,"wires":[["39e7e938.509846"]]},{"id":"80ef664a.422408","type":"function","z":"16ac6319.1ce66d","name":"get posts","func":"const thread = msg.thread;\nconst posts = await thread.getPosts();\n\nmsg.posts = posts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1140,"wires":[["6a40df91.c1e56"]]},{"id":"71f789ae.fa87b8","type":"function","z":"16ac6319.1ce66d","name":"list moderators","func":"const thread = msg.thread;\nconst moderators = await thread.listModerators()\n\nmsg.moderators = moderators;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1080,"wires":[["1c62af1e.7737b1"]]},{"id":"2dd68dba.6e5f02","type":"function","z":"16ac6319.1ce66d","name":"add moderator","func":"let thread = msg.thread;\nawait thread.addModerator(\"0xE11BA2b4D45Eaed5996Cd0823791E0C93114882d\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1100,"wires":[["71f789ae.fa87b8","dd0e5591.5bbc08"]]},{"id":"dd0e5591.5bbc08","type":"function","z":"16ac6319.1ce66d","name":"add post","func":"let thread = msg.thread;\nawait thread.post(\"testing\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1280,"wires":[["80ef664a.422408"]]},{"id":"d3f14f35.77ffb","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"members","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":580,"wires":[]},{"id":"39138cfe.373974","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"posts","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":700,"wires":[]},{"id":"9b3174e4.0c5328","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moderators","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":640,"wires":[]},{"id":"39e7e938.509846","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"members","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":1020,"wires":[]},{"id":"6a40df91.c1e56","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"posts","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":1140,"wires":[]},{"id":"1c62af1e.7737b1","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moderators","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":1080,"wires":[]},{"id":"a6ef0fd1.c5c3b","type":"function","z":"16ac6319.1ce66d","name":"create private thread","func":"const space = global.get(\"space\");\nconst threadName = msg.threadName;\nawait space.syncDone;\nconst thread = await space.createConfidentialThread(threadName, {members: true});\n\nmsg.thread = thread;\nmsg.orbitdbAddress = thread.address;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1500,"wires":[["4ecd3948.4784a8","e48461c3.5be18","55dbbdff.cf8504","be5dd01e.464b6","24ac859f.308e9a"]]},{"id":"4be968f0.f7f808","type":"inject","z":"16ac6319.1ce66d","name":"create private thread","props":[{"p":"threadName","v":"thread2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"5","topic":"","x":150,"y":1440,"wires":[["a6ef0fd1.c5c3b","ecd5b2a0.c313e"]]},{"id":"4ecd3948.4784a8","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"orbitdbAddress","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":1440,"wires":[]},{"id":"e48461c3.5be18","type":"function","z":"16ac6319.1ce66d","name":"list members","func":"const thread = msg.thread;\nconst members = await thread.listMembers()\n\nmsg.members = members;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":1540,"wires":[["ab485f1e.f4a3"]]},{"id":"55dbbdff.cf8504","type":"function","z":"16ac6319.1ce66d","name":"get posts","func":"const thread = msg.thread;\nconst posts = await thread.getPosts();\n\nmsg.posts = posts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1660,"wires":[["b793d039.2a3bc"]]},{"id":"be5dd01e.464b6","type":"function","z":"16ac6319.1ce66d","name":"list moderators","func":"const thread = msg.thread;\nconst moderators = await thread.listModerators()\n\nmsg.moderators = moderators;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1600,"wires":[["5835b08a.842e2"]]},{"id":"24ac859f.308e9a","type":"function","z":"16ac6319.1ce66d","name":"add moderator","func":"let thread = msg.thread;\nawait thread.addModerator(\"0xE11BA2b4D45Eaed5996Cd0823791E0C93114882d\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1620,"wires":[["be5dd01e.464b6","ab3d35.b3a042c8"]]},{"id":"ab3d35.b3a042c8","type":"function","z":"16ac6319.1ce66d","name":"add post","func":"let thread = msg.thread;\nawait thread.post(\"testing\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1800,"wires":[["55dbbdff.cf8504"]]},{"id":"ab485f1e.f4a3","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"members","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":1540,"wires":[]},{"id":"b793d039.2a3bc","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"posts","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":1660,"wires":[]},{"id":"5835b08a.842e2","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"moderators","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":1600,"wires":[]},{"id":"80afb77f.cc3948","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"threadName","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":840,"wires":[]},{"id":"ecd5b2a0.c313e","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"threadName","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":1380,"wires":[]},{"id":"6d77fc42.d7a554","type":"function","z":"efd232d7.75936","name":"create contract object","func":"const ethers = global.get(\"ethers\")\nconst address = \"0x86eb2315cec58974f7c13b0b36e5c700a64df551\"\n// const abi = [\n//     \"event Buy(address indexed buyer, uint indexed filedId)\",\n//     \"function priceLimit() public view returns (uint)\",\n//     \"function Files(uint filedId) public view returns (tuple(address seller, address paymentAsset, string hash, string description, string orbitDb, uint price, uint numRetriveals) file)\"\n// ];\nconst abi = global.get(\"market_abi\").abi\nconst provider = await ethers.getDefaultProvider( 4 , {infura: \"9044c31baf1f4758a2aaa099b32d3443\"} )\nconst privateKey = \"0xADD53F9A7E588D003326D1CBF9E4A43C061AADD9BC938C843A79E7B4FD2AD743\";\nconst wallet = new ethers.Wallet(privateKey, provider);\nconst contract = new ethers.Contract(address, abi, provider);\n\nmsg.contract = contract\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":300,"wires":[["91c72ee3.a3f41"]]},{"id":"762d6b71.ec6b04","type":"inject","z":"efd232d7.75936","name":"set contract & ethers","props":[{"p":"infuraID","v":"9044c31baf1f4758a2aaa099b32d3443","vt":"str"},{"p":"contractAddress","v":"0x86eb2315cec58974f7c13b0b36e5c700a64df551","vt":"str"},{"p":"privateKey","v":"0xADD53F9A7E588D003326D1CBF9E4A43C061AADD9BC938C843A79E7B4FD2AD743","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","x":280,"y":300,"wires":[["6d77fc42.d7a554"]]},{"id":"d8955587.c708a8","type":"json","z":"efd232d7.75936","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":420,"wires":[["d81f2471.b92e48"]]},{"id":"3842a72e.bd5ab8","type":"inject","z":"efd232d7.75936","name":"market abi","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"abi\":[{\"inputs\":[{\"internalType\":\"uint256\",\"name\":\"_priceLimit\",\"type\":\"uint256\"}],\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"internalType\":\"address\",\"name\":\"buyer\",\"type\":\"address\"},{\"indexed\":true,\"internalType\":\"uint256\",\"name\":\"filedId\",\"type\":\"uint256\"}],\"name\":\"Buy\",\"type\":\"event\"},{\"inputs\":[{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"Files\",\"outputs\":[{\"internalType\":\"address\",\"name\":\"seller\",\"type\":\"address\"},{\"internalType\":\"address\",\"name\":\"paymentAsset\",\"type\":\"address\"},{\"internalType\":\"string\",\"name\":\"hash\",\"type\":\"string\"},{\"internalType\":\"string\",\"name\":\"description\",\"type\":\"string\"},{\"internalType\":\"string\",\"name\":\"orbitDb\",\"type\":\"string\"},{\"internalType\":\"uint256\",\"name\":\"price\",\"type\":\"uint256\"},{\"internalType\":\"uint256\",\"name\":\"numRetriveals\",\"type\":\"uint256\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[{\"internalType\":\"uint256\",\"name\":\"_id\",\"type\":\"uint256\"}],\"name\":\"buy\",\"outputs\":[{\"internalType\":\"bool\",\"name\":\"\",\"type\":\"bool\"}],\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[{\"internalType\":\"address\",\"name\":\"\",\"type\":\"address\"},{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"buyerInfo\",\"outputs\":[{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[],\"name\":\"fileCount\",\"outputs\":[{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[{\"internalType\":\"string\",\"name\":\"\",\"type\":\"string\"}],\"name\":\"hashExists\",\"outputs\":[{\"internalType\":\"bool\",\"name\":\"\",\"type\":\"bool\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[],\"name\":\"priceLimit\",\"outputs\":[{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[{\"internalType\":\"address\",\"name\":\"_paymentAsset\",\"type\":\"address\"},{\"internalType\":\"uint256\",\"name\":\"_price\",\"type\":\"uint256\"},{\"internalType\":\"string\",\"name\":\"_hash\",\"type\":\"string\"},{\"internalType\":\"string\",\"name\":\"_description\",\"type\":\"string\"},{\"internalType\":\"string\",\"name\":\"_orbitDb\",\"type\":\"string\"}],\"name\":\"sell\",\"outputs\":[{\"internalType\":\"bool\",\"name\":\"\",\"type\":\"bool\"}],\"stateMutability\":\"nonpayable\",\"type\":\"function\"}]}","payloadType":"json","x":250,"y":420,"wires":[["d8955587.c708a8"]]},{"id":"d81f2471.b92e48","type":"change","z":"efd232d7.75936","name":"set abi","rules":[{"t":"set","p":"market_abi","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":420,"wires":[[]]},{"id":"91c72ee3.a3f41","type":"change","z":"efd232d7.75936","name":"","rules":[{"t":"set","p":"contract","pt":"global","to":"contract","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":300,"wires":[[]]},{"id":"a224db34.d6dbd8","type":"function","z":"6612e154.5809f","name":"listening for buy events","func":"const contract = global.get(\"contract\")\n\ntry {\ncontract && contract.on(\"Buy\", (buyer, fileId) => {\n    msg.event = `${ buyer } bought ${ fileId }`;\n    msg.buyer = buyer\n    msg.fileId = fileId\n    node.send(msg)\n});\n} catch (e) {\n    console.log(e)\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":400,"wires":[["5ae8457.9139abc","e62d7f19.9be56"]]},{"id":"c8c8981a.34b7f8","type":"inject","z":"6612e154.5809f","name":"Set event listener","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":210,"y":400,"wires":[["a224db34.d6dbd8"]]},{"id":"e62d7f19.9be56","type":"function","z":"6612e154.5809f","name":"get File details","func":"const contract = global.get(\"contract\")\nconst file = await contract.Files(msg.fileId)\nmsg.file = `fileid ${msg.fileId} has a hash ${file.hash} and price ${file.price}`\n// msg.contract = global.get(\"contract\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":480,"wires":[["84e390e.858347"]]},{"id":"5ae8457.9139abc","type":"debug","z":"6612e154.5809f","name":"buy event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"event","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":400,"wires":[]},{"id":"84e390e.858347","type":"debug","z":"6612e154.5809f","name":"file","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"file","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":480,"wires":[]},{"id":"24775fa1.45e9b","type":"http in","z":"62c79142.684c1","name":"","url":"/thread","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["3a9a48ca.7c4b68","9813744f.65cc18"]]},{"id":"dbb699e7.beaea8","type":"http response","z":"62c79142.684c1","name":"","statusCode":"","headers":{},"x":760,"y":400,"wires":[]},{"id":"3a9a48ca.7c4b68","type":"function","z":"62c79142.684c1","name":"retrive threadInfo for hash","func":"const database = global.get(\"database\");\nconst hash = msg.req.query.hash || \"test\";\nconst snapshot = await database.ref(`/threads/${hash}`).once('value');\nmsg.payload = snapshot.val();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["dbb699e7.beaea8","13058f9e.bedd2"]]},{"id":"9813744f.65cc18","type":"debug","z":"62c79142.684c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":200,"wires":[]},{"id":"1a6c3ff5.58f6b","type":"inject","z":"efd232d7.75936","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":560,"wires":[["7b5927ab.478ac8"]]},{"id":"8e8519ad.07b8d8","type":"change","z":"efd232d7.75936","name":"","rules":[{"t":"set","p":"database","pt":"global","to":"database","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":520,"wires":[[]]},{"id":"7b5927ab.478ac8","type":"function","z":"efd232d7.75936","name":"set firebase database","func":"var admin = global.get(\"firebase\");\nvar keys = global.get(\"firebaseKeys\");\n\nadmin.initializeApp({\n  credential: admin.credential.cert(keys),\n  databaseURL: \"https://eth-ipfs-market.firebaseio.com\"\n});\nvar database = admin.database();\nmsg.database = database;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":540,"wires":[["8e8519ad.07b8d8"]]},{"id":"13058f9e.bedd2","type":"debug","z":"62c79142.684c1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":280,"wires":[]},{"id":"a555379.f7660c8","type":"http in","z":"f8d1a747.902e28","name":"","url":"/thread","method":"post","upload":false,"swaggerDoc":"","x":310,"y":300,"wires":[["d546aeda.21bed","d81d232f.0e0c8"]]},{"id":"9a28bea5.685","type":"http response","z":"f8d1a747.902e28","name":"","statusCode":"","headers":{},"x":920,"y":460,"wires":[]},{"id":"d546aeda.21bed","type":"function","z":"f8d1a747.902e28","name":"","func":"const database = global.get(\"database\");\n\nconst snapshot = await database.ref('/').once('value');\nmsg.payload = snapshot.val();\nreturn msg;\n\n// \n// https://firebase.google.com/docs/database/web/read-and-write?authuser=1","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":360,"wires":[["9a28bea5.685","19c6a22a.208bde"]]},{"id":"d81d232f.0e0c8","type":"debug","z":"f8d1a747.902e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":620,"y":260,"wires":[]},{"id":"19c6a22a.208bde","type":"debug","z":"f8d1a747.902e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":340,"wires":[]}]