flows.json
[{"id":"e55eac88.70105","type":"tab","label":"Setup 3box ","disabled":false,"info":""},{"id":"16ac6319.1ce66d","type":"tab","label":"Join Thread","disabled":false,"info":""},{"id":"f498ccd7.816528","type":"function","z":"e55eac88.70105","d":true,"name":"create contract object","func":"const ethers = global.get(\"ethers\")\nconst address = \"0x86eb2315cec58974f7c13b0b36e5c700a64df551\"\n// const abi = [\n//     \"event Buy(address indexed buyer, uint indexed filedId)\",\n//     \"function priceLimit() public view returns (uint)\",\n//     \"function Files(uint filedId) public view returns (tuple(address seller, address paymentAsset, string hash, string description, string orbitDb, uint price, uint numRetriveals) file)\"\n// ];\nconst abi = global.get(\"market_abi\").abi\nconst provider = await ethers.getDefaultProvider( 4 , {infura: \"9044c31baf1f4758a2aaa099b32d3443\"} )\nconst privateKey = \"0xADD53F9A7E588D003326D1CBF9E4A43C061AADD9BC938C843A79E7B4FD2AD743\";\nconst wallet = new ethers.Wallet(privateKey, provider);\nconst contract = new ethers.Contract(address, abi, provider);\n\nmsg.contract = contract\nmsg.payload = abi\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[[]]},{"id":"432fe0cc.8ecab8","type":"inject","z":"e55eac88.70105","d":true,"name":"Set global config","props":[{"p":"infuraID","v":"9044c31baf1f4758a2aaa099b32d3443","vt":"str"},{"p":"contractAddress","v":"0x86eb2315cec58974f7c13b0b36e5c700a64df551","vt":"str"},{"p":"privateKey","v":"0xADD53F9A7E588D003326D1CBF9E4A43C061AADD9BC938C843A79E7B4FD2AD743","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","x":170,"y":540,"wires":[["f498ccd7.816528"]]},{"id":"267b2cf7.e997b4","type":"change","z":"e55eac88.70105","name":"set global space","rules":[{"t":"set","p":"space","pt":"global","to":"space","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":360,"wires":[[]]},{"id":"2e4c428a.5a76e6","type":"function","z":"e55eac88.70105","d":true,"name":"listening for buy events","func":"const contract = global.get(\"contract\")\n\ntry {\ncontract && contract.on(\"Buy\", (buyer, fileId) => {\n    msg.event = `${ buyer } bought ${ fileId }`;\n    msg.buyer = buyer\n    msg.fileId = fileId\n    node.send(msg)\n});\n} catch (e) {\n    console.log(e)\n}\n\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":740,"wires":[["ed0a3204.00ce98","4d111544.965c5c"]]},{"id":"d67c22c3.f5981","type":"inject","z":"e55eac88.70105","d":true,"name":"Set event listener","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":170,"y":740,"wires":[["2e4c428a.5a76e6"]]},{"id":"4d111544.965c5c","type":"function","z":"e55eac88.70105","d":true,"name":"get File details","func":"const contract = global.get(\"contract\")\nconst file = await contract.Files(msg.fileId)\nmsg.file = `fileid ${msg.fileId} has a hash ${file.hash} and price ${file.price}`\n// msg.contract = global.get(\"contract\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":820,"wires":[["4499eadd.5f84a4"]]},{"id":"ed0a3204.00ce98","type":"debug","z":"e55eac88.70105","d":true,"name":"buy event","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"event","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":740,"wires":[]},{"id":"4499eadd.5f84a4","type":"debug","z":"e55eac88.70105","d":true,"name":"file","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"file","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":820,"wires":[]},{"id":"c8d16326.cefe9","type":"json","z":"e55eac88.70105","d":true,"name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":640,"wires":[["603a200f.e26b18"]]},{"id":"665b9531.5142f4","type":"inject","z":"e55eac88.70105","d":true,"name":"market abi","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"abi\":[{\"inputs\":[{\"internalType\":\"uint256\",\"name\":\"_priceLimit\",\"type\":\"uint256\"}],\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"},{\"anonymous\":false,\"inputs\":[{\"indexed\":true,\"internalType\":\"address\",\"name\":\"buyer\",\"type\":\"address\"},{\"indexed\":true,\"internalType\":\"uint256\",\"name\":\"filedId\",\"type\":\"uint256\"}],\"name\":\"Buy\",\"type\":\"event\"},{\"inputs\":[{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"Files\",\"outputs\":[{\"internalType\":\"address\",\"name\":\"seller\",\"type\":\"address\"},{\"internalType\":\"address\",\"name\":\"paymentAsset\",\"type\":\"address\"},{\"internalType\":\"string\",\"name\":\"hash\",\"type\":\"string\"},{\"internalType\":\"string\",\"name\":\"description\",\"type\":\"string\"},{\"internalType\":\"string\",\"name\":\"orbitDb\",\"type\":\"string\"},{\"internalType\":\"uint256\",\"name\":\"price\",\"type\":\"uint256\"},{\"internalType\":\"uint256\",\"name\":\"numRetriveals\",\"type\":\"uint256\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[{\"internalType\":\"uint256\",\"name\":\"_id\",\"type\":\"uint256\"}],\"name\":\"buy\",\"outputs\":[{\"internalType\":\"bool\",\"name\":\"\",\"type\":\"bool\"}],\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[{\"internalType\":\"address\",\"name\":\"\",\"type\":\"address\"},{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"name\":\"buyerInfo\",\"outputs\":[{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[],\"name\":\"fileCount\",\"outputs\":[{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[{\"internalType\":\"string\",\"name\":\"\",\"type\":\"string\"}],\"name\":\"hashExists\",\"outputs\":[{\"internalType\":\"bool\",\"name\":\"\",\"type\":\"bool\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[],\"name\":\"priceLimit\",\"outputs\":[{\"internalType\":\"uint256\",\"name\":\"\",\"type\":\"uint256\"}],\"stateMutability\":\"view\",\"type\":\"function\"},{\"inputs\":[{\"internalType\":\"address\",\"name\":\"_paymentAsset\",\"type\":\"address\"},{\"internalType\":\"uint256\",\"name\":\"_price\",\"type\":\"uint256\"},{\"internalType\":\"string\",\"name\":\"_hash\",\"type\":\"string\"},{\"internalType\":\"string\",\"name\":\"_description\",\"type\":\"string\"},{\"internalType\":\"string\",\"name\":\"_orbitDb\",\"type\":\"string\"}],\"name\":\"sell\",\"outputs\":[{\"internalType\":\"bool\",\"name\":\"\",\"type\":\"bool\"}],\"stateMutability\":\"nonpayable\",\"type\":\"function\"}]}","payloadType":"json","x":150,"y":640,"wires":[["c8d16326.cefe9"]]},{"id":"603a200f.e26b18","type":"change","z":"e55eac88.70105","d":true,"name":"set abi","rules":[{"t":"set","p":"market_abi","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":640,"wires":[[]]},{"id":"147b4e06.43cf32","type":"function","z":"e55eac88.70105","name":"setup identity-wallet","func":"const IdentityWallet = global.get(\"IdentityWallet\");\nconst spaceName = msg.spaceName;\nasync function getConsent({ type, origin, spaces }) {\n    return true;\n}\nconst seed = msg.seed;\nconst idWallet = new IdentityWallet(getConsent, { seed });\nawait idWallet.authenticate([spaceName]);\n\nmsg.idWallet = idWallet;\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nconst box = msg.box;\nif (box) {\n    box.logout();\n}","x":450,"y":60,"wires":[["160112e0.026dbd","c6594b66.766b58"]]},{"id":"160112e0.026dbd","type":"debug","z":"e55eac88.70105","name":"idWallet DID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"idWallet.DID","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":60,"wires":[]},{"id":"2d706ff9.1fe78","type":"function","z":"16ac6319.1ce66d","name":"join thread","func":"const space = global.get(\"space\");\nconst orbitdbAddress = msg.thread;\nif (!space || !orbitdbAddress) {\n    return;\n}\n\nconst thread = await space.joinThreadByAddress(orbitdbAddress);\n\nmsg.thread = thread;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":160,"wires":[["11a6052e.ba86eb","c3b3925a.7a571","d1bfbaab.b9b948"]]},{"id":"aa303f24.2e2c","type":"inject","z":"16ac6319.1ce66d","name":"set orbitdb thread address","props":[{"p":"thread","v":"/orbitdb/zdpuAnr4JyRnuyaTWtkKnjE2FTuuyJ1aFCzMyv1eQF6a4CFAg/3box.thread.ipfsethmarketplace.thread1","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","x":160,"y":100,"wires":[["2d706ff9.1fe78","11a6052e.ba86eb"]]},{"id":"11a6052e.ba86eb","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"thread","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"c18aa3e6.df48f","type":"inject","z":"e55eac88.70105","name":"start flow","props":[{"p":"spaceName","v":"ipfsethmarketplace","vt":"str"},{"p":"seed","v":"0x321abc123abc123abc123abc123abcde","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":160,"y":60,"wires":[["147b4e06.43cf32","18eb91c2.cf3f9e"]]},{"id":"c3b3925a.7a571","type":"function","z":"16ac6319.1ce66d","name":"list members","func":"const thread = msg.thread;\nconst members = await thread.listMembers()\n\nmsg.members = members;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":200,"wires":[["c5e3754.c27ba88"]]},{"id":"c5e3754.c27ba88","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"members","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":200,"wires":[]},{"id":"d1bfbaab.b9b948","type":"function","z":"16ac6319.1ce66d","name":"get posts","func":"const thread = msg.thread;\nconst posts = await thread.getPosts();\n\nmsg.posts = posts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":320,"wires":[["be5c09d7.6df308"]]},{"id":"be5c09d7.6df308","type":"debug","z":"16ac6319.1ce66d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"posts","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"c6594b66.766b58","type":"function","z":"e55eac88.70105","name":"setup 3box","func":"const idWallet = msg.idWallet;\nconst Box = global.get(\"Box\");\nconst threeIdProvider = idWallet.get3idProvider();\n\nconst box = await Box.openBox(null, threeIdProvider);\nawait box.syncDone;\nmsg.box = box;\n\n\nconst spaceName = \"ipfsethmarketplace\";\nconst space = await box.openSpace(spaceName);\nawait space.syncDone;\nmsg.space = space;\n\n\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"// Code added here will be run when the\n// node is being stopped or re-deployed.\nconst box = msg.box;\nif (box) {\n    box.logout();\n}","x":770,"y":160,"wires":[["ddf8a8d1.858798","e035192a.128198"]]},{"id":"ddf8a8d1.858798","type":"function","z":"e55eac88.70105","name":"setup space","func":"const box = msg.box;\n\n\nconst spaceName = \"ipfsethmarketplace\";\nconst space = await box.openSpace(spaceName);\nawait space.syncDone;\nmsg.space = space;\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":260,"wires":[["267b2cf7.e997b4","f652144e.952bf8"]]},{"id":"e035192a.128198","type":"debug","z":"e55eac88.70105","name":"box DID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"box.DID","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":160,"wires":[]},{"id":"f652144e.952bf8","type":"debug","z":"e55eac88.70105","name":"space DID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"space.DID","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":260,"wires":[]},{"id":"18eb91c2.cf3f9e","type":"debug","z":"e55eac88.70105","name":"seed & spaceName","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":180,"wires":[]}]